.hidden{
    visibility: hidden;
    width: 0;
    height: 0;
}

#playbutton{
    width: 150px;
    height: 150px;
}


.clear{
    clear:both;
}

body{
    overflow-x: hidden;
}

.wrapper{
    height: 500px;
}
.align-middle{
    display: block;
    margin: 0 auto;
}

.align-horizontal{
    display:inline-block;
}

.align-vertical{
    position: relative;
    bottom: 50px;
}
